{% extends "base.html" %}
{% load markdown_extras%}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{%url 'exercise_detail' exercise_detail.id%}">{{exercise_detail.exercise_title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{%url 'challenge_list' exercise_detail.id %}">課題</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">教科書</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">解説</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">ランキング</a>
  </li>
</ul>

{% for message in messages %}
<div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
    {{ message }}
</div>
{% endfor %}
 
<div id="md">{{challenge_detail.discription|markdown|safe}}</div>

<!-- ToDo: FLAG提出ボタンを作成 -->
<form method="POST">
  {% csrf_token %}
  <div class="input-group mb-3 ms-1 w-75">
      <input type="text" name='submit_flag' class="form-control" placeholder="FLAG{xxxx}" aria-label="FLAG{xxxx}" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary " type="submit" id="button-addon2">フラグ提出</button>
  </div>
</form>


<hr>
{% endblock content%}