{% extends "base.html" %}

{% block title %}アカウント作成{% endblock title %}

{% block content %}

<form method='POST', class="p-4 m-4 bg-light border border-success rounded form-group">
    {% csrf_token %}
    <input type="text" name='username' class="form-control mt-4" placeholder="ユーザーID">
    <input type="password" name='password1' class="form-control mt-4" placeholder="パスワード">
    <input type="password" name='password2' class="form-control mt-4" placeholder="パスワード確認">
    <small class="mb-2 d-block text-start">パスワードは大文字・小文字・英数字を含んだ8文字以上で設定してください</small>

    {% if form.errors %}
    <span class="mb-2 small text-danger d-block text-start">利用できないID,パスワードを使用している可能性があります。</span>
    {% endif %}

    <button type="submit" class="btn btn-success m-2">アカウント作成</button>
</form>
{% endblock content %}