{% extends "base.html" %}
{% load markdown_extras%}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{%url 'exercise_detail' exercise_detail.id%}">{{exercise_detail.exercise_title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{%url 'challenge_list' exercise_detail.id%}">課題</a>
  </li>
  {% if exercise_detail.exercise_title != "実戦問題集"%}
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{%url 'textbook' exercise_detail.id%}">教科書</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{%url 'explanation' exercise_detail.id%}">解説</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="{%url 'submit' exercise_detail.id%}">正解者</a>
  </li>
</ul>

{% for message in messages %}
<div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
    {{ message }}
</div>
{% endfor %}
 
<div id="md">{{challenge_detail.discription|markdown|safe}}</div>



{% if challenge_detail.hint_one %}
<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    ヒントその1
  </button>
  <ul class="dropdown-menu">
    <li><p class="dropdown-item">{{challenge_detail.hint_one}}</p></li>
  </ul>
</div>
{% endif %}

{% if challenge_detail.hint_two %}
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    ヒントその2
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><p class="dropdown-item">{{challenge_detail.hint_two}}</p></li>
  </ul>
</div>
{% endif %}

{% if challenge_detail.hint_three %}
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    ヒントその3
  </button>
  <ul class="dropdown-menu dropdown-menu-lg-end">
    <li><p class="dropdown-item">{{challenge_detail.hint_three}}</p></li>
  </ul>
</div>
{% endif %}
<br>
<br>
<!-- ToDo: FLAG提出ボタンを作成 -->
<form method="POST">
  {% csrf_token %}
  <div class="input-group mb-3 ms-1 w-75">
      <input type="text" name='submit_flag' class="form-control" placeholder="FLAG{xxxx}" aria-label="FLAG{xxxx}" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary " type="submit" id="button-addon2">フラグ提出</button>
  </div>
</form>


{% endblock content%}